.pokemon-card {
  cursor: pointer;
  background: radial-gradient(
    rgb(135, 61, 255) 0%,
    rgb(33, 134, 255) 50%,
    rgb(70, 169, 255) 100%
  );
  border: 2px solid rgba(7, 68, 128, 0.199);
  color: white;
  height: 20rem;
  text-align: center;
  width: 100%;
}

.pokemon-card-name {
  height: 3rem;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.7rem;
}

.pokemon-card-image {
  height: 13rem;
  background: rgba(255, 0, 0, 0.399);
}
